body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
  color: #333;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

h1 {
  color: #007B8F;
  text-align: center;
}

input,
button,
select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input:focus {
  outline: 2px solid #5CC6D0;
}

button {
  background-color: #007B8F;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 6px;
}

button:hover {
  background-color: #005f6b;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

th {
  background-color: #007B8F;
  color: white;
}

#arquivo{
    width: 450px;
}

.inputMes{
    width: 50px;
}
